.container {
    width: 50%;
    text-align: center;
    margin: 0 auto
}

.header {
    background-color: #c3eaff;
}

.logo {
    padding: 4px 4px 0;
}

.footer {
    background-color: #c3eaff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}